.sidebar {
    height: 100vh;
    background-color: #343a40;
    color: white;
    transition: width 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    overflow: hidden;
  }
  
  .sidebar.expanded {
    width: 225px;
  }
  
  .sidebar.collapsed {
    width: 60px;
  }
  
  .nav-link {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .nav-link:hover {
    background-color: #201f1f;
  }
  
  .nav-link.active {
    background-color: #0f0f0f;
  }
  
  .nav-item {
    text-align: left;
  }
  
  .sidebar.collapsed .menu-label {
    display: none;
  }
  
  .nav-link svg {
    font-size: 20px;
  }
  
  .flex-column {
    margin-top: 65px;
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 60px;
    }
    
    .sidebar.expanded {
      width: 225px;
    }
  
    .toggle-btn {
      position: fixed;
      top: 15px;
      left: 10px;
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
      z-index: 1000;
    }
  }
  